extends main/page_default

block head
	title Главная страница

block beforeBody
	-bodyClasses.push('front')

block content

	+front-video
	main.content
		+front-about
		+front-project-list
		+front-videos
		+front-text-block