extends main/page_default

block head
	title Лизинг

block content

	main.content
		.container
			//- место для хлебных крошек
			h1.page-title Лизинг
			article.article
				.leasing-page
					p <b>Лизинг</b> — это выгодный финансовый инструмент для покупки оборудования.
					p Предположим, что Вы захотели обновить свои станки. <b>Есть несколько путей:</b>
					.leasing-page__columns
						.leasing-page__column
							.leasing-page__excellence.leasing-excellence
								.leasing-excellence__title Быстрый путь
								ol.leasing-excellence__list.js-set-min-height(data-minheight='0')
									li Привлечь лизинг<br><span><i>10-14</i> дней</span>
									li Оплатить<br><span><i>1</i> день</span>
								.leasing-excellence__result Итого: ≈ <b>11-15 дней</b>
								.leasing-excellence__title.leasing-excellence__title_abs: span Плюсы:
								ol.leasing-excellence__list.leasing-excellence__list_small.leasing-excellence__list_340.js-set-min-height(data-minheight='1')
									li Деньги находим сразу, независимо от текущих фин-результатов.
									li Хорошая цена на станки при оплате 100%.
									li Экономим до 40% на налогах (НДС, налог на прибыль, налог на имущество).
									li Станки сразу - зарабатывать начинаем сразу.
									li Залоги не нужны - приобретаемое оборудование и есть залог по сделке.
									li В конце срока выкуп по символической стоимости.
								.leasing-excellence__title.leasing-excellence__title_abs: span Минусы:
								ol.leasing-excellence__list.leasing-excellence__list_small.leasing-excellence__list_nominh.js-set-min-height(data-minheight='3')
									li Дополнительные проценты на сумму покупки.
								p Но ≈1,2-1,5% в месяц быстро окупаются и малозаметны на фоне заработков на новом оборудовании.

						.leasing-page__column
							.leasing-page__excellence.leasing-excellence
								.leasing-excellence__title Медленный путь
								ol.leasing-excellence__list.js-set-min-height(data-minheight='0')
									li Заработать прибыль<br><span><i>90</i> дней</span>
									li Дождаться итогов квартала<br><span><i>14</i> дней</span>
									li Сдать отчетность<br><span><i>1</i> день</span>
									li Оплатить<br><span><i>1</i> день</span>
								.leasing-excellence__result Итого: ≈ <b>100-105 дней</b>
								.leasing-excellence__title.leasing-excellence__title_abs
								ol.leasing-excellence__list.leasing-excellence__list_small.leasing-excellence__list_340.js-set-min-height(data-minheight='1')
									li Хорошая цена на станки при оплате 100%
									li Нет переплаты за проценты
								.leasing-excellence__title.leasing-excellence__title_abs
								ol.leasing-excellence__list.leasing-excellence__list_small.leasing-excellence__list_nominh.js-set-min-height(data-minheight='3')
									li На собственных средствах, без привлечения, развитие медленнее в несколько раз.
									li Если мало прибыли – не хватит на станки, ждем итогов следующего квартала.


					h3 Как мы работаем:
					p Получаем заявку на лизинг, передаем ее в несколько лизинговых компаний. От Вас потребуется пакет документов, как правило, в зависимости от его полноты и суммы сделки, определяется группа лизинговых компаний. Вам остается только сделать выбор, с какой компанией комфортнее работать – федеральной или региональной, с высоким процентом и низкими требованиями или наоборот.
					p На каждом этапе наш специалист по лизингу поможет Вам.
					h3 Вот сравнение нескольких наших лизинговых партнеров:

					table.table.table_gray.table_block
						thead: tr
							th
							th Кредитные и <br>лизинговые программы
							th Сименс Финанс
							th Балтийский Лизинг
							th Универсальная Лизинговая <br>Компания
							th Интерлизинг
							th Система Лизинг 24
						tbody
							tr
								td Аванс, от
								td
								td 5%
								td 10%
								td 10%
								td 20%
								td 20%
							tr
								td Срок, до, руб
								td
								td 60 мес
								td 48 мес
								td 60 мес
								td 60 мес
								td 36 мес
							tr
								td Срок, до
								td До 1 000 000
								td 3 000 000
								td 1 000 000
								td 5 000 000
								td 1 000 000
								td 1 500 000

					.leasing-page__subsidy
						h3 Также мы можем предложить к рассмотрению крупные программы с государственным участием до 500 000 рублей:
						ul
							li.leasing-page__subsidy-item
								h4 Субсидии МинПромТорга
								p Федеральные и муниципальные субсидии на приобретение оборудования для промышленных предприятий от субъектов Российской Федерации
							li.leasing-page__subsidy-item
								h4 Фонд Развития Промышленности
								p Лизинговые и кредитные программы софинансирования крупных промышленных проектов
