mixin front-text-block
	section.front-block.front-block_green-bg
		.container
			h1.front-block__title Nanxing – лидер поставок мебельного оборудования в России
			.front-block__content
				.text-block
					//-p На сегодняшний день в Россию поставлено более 15 000 станков Nanxing. Этот рекорд среди производителей мебельного оборудования лучшая характеристика наших станков!
					p Представленные награды и дипломы - это конечно же, хорошо, но не всегда дают гарантию успешного сотрудничества. За годы работы и тысячи успешных проектов мы убеждены что заказчики выбирают для себя компанию Nanxing потому, что с Nanxing  комфортно работать.