mixin front-about
	section.front-block
		.container
			h1.front-block__title Nanxing - компания для профессионалов
			.front-block__content
				.front-about
					.front-about__top
						.front-about__intro
							p Эта страница, для тех, кто хочет найти отличия среди поставщиков оборудования для производства мебели.
							p Получить от лучшего производителя, помимо станков еще и комфортное сотрудничество. Наша цель не доказать что мы подходим всем, а рассказать о себе.
						.front-about__video
							a.video-link.js-youtube-link(href='https://www.youtube.com/watch?v=E5UliKkuuDA' data-code='E5UliKkuuDA')
								span Смотреть видео
								img(src='img/video-preview.jpg', alt='Презентация Nanxing')

					.front-about__list
						ul
							li.front-about__list-item
								img(src='img/content/about1.jpg', alt='Технологии Nanxing')
								.front-about__list-content
									h4 Технологии
									.front-about__list-text
										p У нас работают профессиональные технологи, которые уважают своих клиентов и не возьмутся за все проекты подряд, а выслушают Вас, поймут что вызывает сложности на производстве или Ваши перспективные устремления.
										p Мы приедем к Вам на предприятие. Изучим Ваше техзадание. Придумаем как помочь. Дадим решение. Все это бесплатно. И так для каждого клиента.
							li.front-about__list-item.front-about__list-item_right
								img(src='img/content/about2.jpg', alt='Технологии Nanxing')
								.front-about__list-content
									h4 Сервис
									.front-about__list-text
										p Сервисное обслуживание, которое Вы привыкли видеть в России, часто вызывает справедливое желание сделать все намного быстрее.<br>Поскольку мы представляем один завод, в нашей компании вы получите сервис и запчасти напрямую от завода, при необходимости можно вызвать инженеров Nanxing или наших, российских сертифицированных специалистов из представительства, знающих оборудование Nanxing.
							li.front-about__list-item
								img(src='img/content/about3.jpg', alt='Технологии Nanxing')
								.front-about__list-content
									h4 Цены
									.front-about__list-text
										p Российский рынок исторически чувствителен к ценам. При обращении к нам заказчиков, мы слышим часто этот вопрос одним из первых. Цены в представительстве завода Nanxing в России предложены без дилерских наценок, поэтому нет необходимости дополнительного обоснования затратами или продвижением, например, российских брендов. Мы Nanxing.ru - представительство завода Nanxing в России!