mixin front-project-list
	section.front-block.front-block_green-bg
		.container
			h3.front-block__title Возможно, Nanxing - это та компания, которая необходима Вашему бизнесу. <br>Давайте выясним!
			.front-block__content
				+project-list
				p Вот так мы работаем с клиентами. Уважая друг друга. Понимая друг друга. Клиенты получают от нас гораздо больше, чем просто станки.

mixin project-list
	.project-list
		.swiper
			.swiper-wrapper
				.swiper-slide
					+project
				.swiper-slide
					+project2
				.swiper-slide
					+project
				.swiper-slide
					+project2
				.swiper-slide
					+project

		.swiper-pagination.swiper-pagination_projects
		.swiper-button-prev.swiper-button-prev_projects(data-action='dec')
		.swiper-button-next.swiper-button-next_projects(data-action='inc')

mixin project
	.project-item
		a.project-item__img.js-project-popup(href='#modal-projects')
			img(src='img/content/project.jpg', alt='Nanxing')
			h4.project-item__title Мебельная фабрики Raval
		p.project-item__text Начнем с небольшой истории. Некоторое время назад к нам обратилась мебельная фабрики Raval. У заказчика сформировались новые смелые дизайнерские решения мебели, которые требовали комплексного планирования всего производственного цикла.
		.project-item__popup-text
			p Начнем с небольшой истории. Некоторое время назад к нам обратилась мебельная фабрики Raval. У заказчика сформировались новые смелые дизайнерские решения мебели, которые требовали комплексного планирования всего производственного цикла.
			p Мы выехали на производство. Была поставлена непростая, но интересная задача по повышению эффективности: оптимизировать весь тех.процесс и снизить издержки производства. Совместно с заказчиком обсудили все нюансы, подобрали оборудование и спланировали производственный цикл на участках распила, присадки и фрезеровки, кромления. Модернизация базировалась на передовых моделях Nanxing. Участок распила оснастили форматно-раскроечным станком Nanxing MJ1132F и современным высокоскоростным форматно-раскроечным центром с ЧПУ Nanxing NPC330. Особое внимание уделили участку присадки и флагману в линейке 6-стороннем сверлильному центру с ЧПУ Nanxing NCB612D с фрезерными узлами и Nanxing NCB612DS с дополнительным  пазовальным узлом. Участок кромления был укомплектован автоматическими кромкооблицовочными станками Nanxing NB6JQ И NB6JQS с пазовальным узлом. Сотрудники Nanxing  выполнены такелажные работы, оборудование ввели в эксплуатацию, было проведено техническое обучение сотрудников. По итогу качество производимой продукции улучшилось, производительность выросла с 400 изделий в смену до 1800, а операционные расходы снизились на 37%. Это отличный результат, которым остались довольны и заказчик, и мы сами.
		a.project-item__more.btn.btn_main.js-project-popup(href='#modal-projects') Подробнее

mixin project2
	.project-item
		a.project-item__img.js-project-popup(href='#modal-projects')
			img(src='img/content/project1.jpg', alt='Nanxing')
			h4.project-item__title Мебельная фабрика <br>"Мебель для Жизни"
		p.project-item__text Свой путь в мебельном бизнесе компания "Мебель для Жизни" начинала на оборудовании европейских производителей. В конце 2019 года встала задача расширить производство в Нижнем Новгороде.
		.project-item__popup-text
			p Свой путь в мебельном бизнесе компания "Мебель для Жизни" начинала на оборудовании европейских производителей. В конце 2019 года встала задача расширить производство в Нижнем Новгороде. Для новой производственной площадки была важна быстрая окупаемость и бесперебойность работы. С технологами Nanxing пришли к выводу что начать надо с форматно-раскроечного станка MJ1132F и кромкооблицовочного станка MF50S. В результате эксплуатации, оборудование превысило наши ожидания по производительности и надежности, а марка Nanxing заслужила доверие. Таким образом, для дальнейшего развития производства была выбрана компания Nanxing. И когда встал вопрос приобретения высокопроизводительного оборудования индустриального класса, были выбраны кромкооблицовочный станок NB8CHJQ и сверлильно-присадочный центр с ЧПУ Nanxing NCB612D. Нужную производительность мы получили в течении месяца. Да еще и с системой штрихкодирования под управлением БАЗИС-МЕБЕЛЬЩИК, которая в связке со станками Nanxing идеально подошла для производства индивидуальной мебели.
			p "Мебель для Жизни" активно развивается, есть планы с Nanxing по автоматизации и роботизации производственных линий. Будущее для нас уже наступило.
		a.project-item__more.btn.btn_main.js-project-popup(href='#modal-projects') Подробнее
